*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

:root{
  --c1: #153;
  --c2: #795;
  --c3: #9ca;
  --c4: #ffa;
  --t1: rgba(255, 255, 255, 0.5);
  --t2: rgba(0, 0, 0, 0.5);
}